<!-- <!DOCTYPE html>
<html>

<head>
	<title>Edit Profile</title>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
	<link rel="stylesheet" href="fonts/icomoon/style.css">

	<link rel="stylesheet" href="/css/bootstrap.min.css.min.css">
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<link rel="stylesheet" href="/css/jquery-ui.css">
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">

	<link rel="stylesheet" href="/css/bootstrap-datepicker.css">

	<link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">


	<link rel="stylesheet" href="/css/aos.css">

	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
	<div class="site-wrap">
		<header class="site-navbar py-1" role="banner">

			<div class="container">
				<div class="row align-items-center">
					<h2 align='center'>Edit Profile</h2>
					<div class="col-10 col-md-8 d-none d-xl-block">
						<nav class="site-navigation position-relative text-right text-lg-center" role="navigation">
							<ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
								<a class="mb-5 text-blue" href="/admin">Home</a>|
								<a class="mb-5 text-blue" href="/logout">Logout</a><br><br>
								<a class="mb-5 text-blue" href="/admin/profile">Edit Profile</a><br>
								<a class="mb-5 text-blue" href="/admin/addNewManager">Add New Manager</a><br>
								<a class="mb-5 text-blue" href="/admin/assignManager">Assign Manager </a><br>
								<a class="mb-5 text-blue" href="/admin/view_Managers">Managers</a><br>
								<a class="mb-5 text-blue" href="/admin/view_Owners">Owners</a><br>
								<a class="mb-5 text-blue" href="/admin/view_Customers">Customers</a><br>
								<a class="mb-5 text-blue" href="/admin/view_Rented">Rented Apartments</a><br>
								<a class="mb-5 text-blue" href="/admin/view_Available">Available Apartments</a><br>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>

		<form method="post">
			<table border="1">
				<tr>
					<td>Name: </td>
					<td><input type="text" name="name" value="<%= user.name %>" required></td>
				</tr>
				<td>Username: </td>
				<td> <input type="text" name="uname" value="<%= user.username %>" readonly></td>
				</tr>
				<tr>
					<td>Mail: </td>
					<td> <input type="text" name="email" value="<%= user.email %>" required></td>
				</tr>
				<tr>
					<td>Phone No: </td>
					<td> <input type="text" name="phone" value="<%= user.phone %>" required></td>
				</tr>
				<tr>
					<td>Password: </td>
					<td> <input type="password" name="password" value="<%= user.password %>" required></td>
				</tr>
				<tr>
					<td>Confirm Password:</td>
					<td> <input type="password" name="cpassword" value="<%= user.password %>" required></td>
				</tr>
			</table>
			<input type="submit" name="" value="update">
		</form>
	</div>
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="/js/jquery-ui.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.stellar.min.js"></script>
	<script src="/js/jquery.countdown.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<script src="/js/aos.js"></script>
	<script src="/js/main.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
	</script>
</body>

</html> -->
<!-- <!DOCTYPE html>
<html>
<head>
    <title>Edit Profile</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body {
            background: linear-gradient(to right, #2193b0, #6dd5ed);
            font-family: 'Poppins', sans-serif;
            color: #333;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .site-wrap {
            width: 80%;
            max-width: 800px;
            margin: 20px auto;
            background: rgba(255, 255, 255, 0.9);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .site-navbar {
            text-align: center;
            margin-bottom: 30px;
        }

        .site-navbar h2 {
            color: #333;
            margin-bottom: 10px;
        }

        .site-menu {
            list-style: none;
            padding: 0;
            margin: 20px 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .site-menu a {
            text-decoration: none;
            color: #2193b0;
            padding: 10px 15px;
            margin: 5px;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.8);
            transition: background-color 0.3s ease;
        }

        .site-menu a:hover {
            background-color: #6dd5ed;
            color: white;
        }

        form {
            width: 100%;
            margin-top: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        table, th, td {
            border: 1px solid #ddd;
            padding: 12px 15px;
            text-align: left;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input[type="submit"] {
            background-color: #2193b0;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
        }

        input[type="submit"]:hover {
            background-color: #6dd5ed;
        }
    </style>
</head>
<body>
    <div class="site-wrap">
        <header class="site-navbar py-1" role="banner">
            <h2 align='center'>Edit Profile</h2>
            <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">
                <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                    <a class="mb-5 text-blue" href="/admin">Home</a>
                    <a class="mb-5 text-blue" href="/logout">Logout</a>
                    <a class="mb-5 text-blue" href="/admin/profile">Edit Profile</a>
                    <a class="mb-5 text-blue" href="/admin/addNewManager">Add New Manager</a>
                    <a class="mb-5 text-blue" href="/admin/assignManager">Assign Manager</a>
                    <a class="mb-5 text-blue" href="/admin/view_Managers">Managers</a>
                    <a class="mb-5 text-blue" href="/admin/view_Owners">Owners</a>
                    <a class="mb-5 text-blue" href="/admin/view_Customers">Customers</a>
                    <a class="mb-5 text-blue" href="/admin/view_Rented">Rented Apartments</a>
                    <a class="mb-5 text-blue" href="/admin/view_Available">Available Apartments</a>
                </ul>
            </nav>
        </header>
        <form method="post">
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="name" value="<%= user.name %>" required></td>
                </tr>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" name="uname" value="<%= user.username %>" readonly></td>
                </tr>
                <tr>
                    <td>Mail:</td>
                    <td><input type="text" name="email" value="<%= user.email %>" required></td>
                </tr>
                <tr>
                    <td>Phone No:</td>
                    <td><input type="text" name="phone" value="<%= user.phone %>" required></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password" value="<%= user.password %>" required></td>
                </tr>
                <tr>
                    <td>Confirm Password:</td>
                    <td><input type="password" name="cpassword" value="<%= user.password %>" required></td>
                </tr>
            </table>
            <input type="submit" name="" value="update">
        </form>
    </div>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWld -->
<!DOCTYPE html>
<html>
  <head>
    <title>Edit Profile</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <style>
      body {
        background: linear-gradient(to right, #2193b0, #6dd5ed);
        font-family: "Poppins", sans-serif;
        color: #333;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        align-items: center;
        justify-content: flex-start;
      }

      .site-wrap {
        width: 80%;
        max-width: 600px;
        margin: 20px auto;
        background: rgba(255, 255, 255, 0.9);
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      .site-navbar {
        text-align: center;
        margin-bottom: 20px;
      }

      .site-navbar h2 {
        color: #333;
        margin-bottom: 10px;
      }

      .site-menu {
        list-style: none;
        padding: 0;
        margin: 20px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

      .site-menu a {
        text-decoration: none;
        color: #2193b0;
        padding: 10px 15px;
        margin: 5px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.8);
        transition: background-color 0.3s ease;
      }

      .site-menu a:hover {
        background-color: #6dd5ed;
        color: white;
      }

      form {
        width: 100%;
        margin-top: 20px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }

      table,
      th,
      td {
        border: 1px solid #ddd;
        padding: 12px 15px;
        text-align: left;
      }

      input[type="text"],
      input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      input[type="submit"] {
        background-color: #2193b0;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
      }

      input[type="submit"]:hover {
        background-color: #6dd5ed;
      }
    </style>
  </head>
  <body>
    <div class="site-wrap">
      <header class="site-navbar" role="banner">
        <h2 align="center">Edit Profile</h2>
        <nav class="site-navigation" role="navigation">
          <ul class="site-menu">
            <a href="/admin">Home</a>
            <a href="/logout">Logout</a>
            <a href="/admin/profile">Edit Profile</a>
            <a href="/admin/addNewManager">Add New Manager</a>
            <a href="/admin/assignManager">Assign Manager</a>
            <a href="/admin/view_Managers">Managers</a>
            <a href="/admin/view_Owners">Owners</a>
            <a href="/admin/view_Customers">Customers</a>
            <a href="/admin/view_Rented">Rented Apartments</a>
            <a href="/admin/view_Available">Available Apartments</a>
          </ul>
        </nav>
      </header>
      <form method="post">
        <table>
          <tr>
            <td>Name:</td>
            <td>
              <input
                type="text"
                name="name"
                value="<%= user.name %>"
                required
              />
            </td>
          </tr>
          <tr>
            <td>Username:</td>
            <td>
              <input
                type="text"
                name="uname"
                value="<%= user.username %>"
                readonly
              />
            </td>
          </tr>
          <tr>
            <td>Mail:</td>
            <td>
              <input
                type="text"
                name="email"
                value="<%= user.email %>"
                required
              />
            </td>
          </tr>
          <tr>
            <td>Phone No:</td>
            <td>
              <input
                type="text"
                name="phone"
                value="<%= user.phone %>"
                required
              />
            </td>
          </tr>
          <tr>
            <td>Password:</td>
            <td>
              <input
                type="password"
                name="password"
                value="<%= user.password %>"
                required
              />
            </td>
          </tr>
          <tr>
            <td>Confirm Password:</td>
            <td>
              <input
                type="password"
                name="cpassword"
                value="<%= user.password %>"
                required
              />
            </td>
          </tr>
        </table>
        <input type="submit" name="" value="update" />
      </form>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
